[flake8]
max-line-length = 140
ignore = E203,E704,E501
exclude = .git,_pycache_,old,build,dist,venv,env,.env,.venv,migrations
per-file-ignores =
    # Module level import not at top of file. This is due newrelic initialization.
    */app/_main_.py: E402